<div class="desktopView">
    <div class="topBar">
        <h2>Super Awesome Kanban Board</h2>
    </div>
    <div class="userFormBar">
        <form class="userForm"action="/user/create" method="POST">
            <input type="text" id="name" name="name" placeholder="Name" required> <br>
            <input type="url" id="avatar" name="avatar" placeholder="Avatar Url" required> <br>
            <input class="button" type="submit" value="Add User">
        </form>
    </div>
    <section class="gallery">
        {{#each projects}}
            <a href="./project/{{this.id}}">
                <div class="galleryItem" style="background-image: url({{this.image}});">
                    <h3>{{this.name}}</h3>
                </div>
            </a>
        {{/each}}
        <div class="galleryProject">
            <div class="addProject">
                <h3>Add a project:</h3>
                <form class="addProject" action="/project/create" method="POST">
                    <input type="text" id="name" name="name" placeholder="Project Name" required> <br>
                    <input type="url" id="image" name="image" placeholder="Image Url" required> <br>
                    <input type="submit" value="Add Project">
                </form>
            </div>
        </div>
    </section>
</div>

<div class= "phoneView hidden">
    <h1>Projects</h1>
    <a href="javascript:;" onclick="showUserForm()">Add User</a>
    <a href="javascript:;" onclick="hideUserForm()"></a>
        <form class="userFormPhone hidden" action="/user/create" method="POST">
            <input type="text" id="name" name="name" placeholder="Name" required> <br>
            <input type="url" id="avatar" name="avatar" placeholder="Avatar Url" required> <br>
            <input type="submit" value="Add User">
        </form>
    <section class="gallery">
        {{#each projects}}
            <a href="./project/{{this.id}}">
                <div class="galleryItem" style="background-image: url({{this.image}});">
                    <h3>{{this.name}}</h3>
                </div>
            </a>
        {{/each}}
        <div class="galleryItem">
            <h3>Add a project:</h3>
            <form class="addProject" action="/project/create" method="POST">
                <input type="text" id="name" name="name" placeholder="Project Name" required> <br>
                <input type="url" id="image" name="image" placeholder="Image Url" required> <br>
                <input type="submit" value="Add Project">
            </form>
        </div>
    </section>
</div>
<script>
    function showUserForm(){
        let element = document.querySelector(".userFormPhone")
        element.classList.remove("hidden")
    }
    function hideUserForm(){
        let element = document.querySelector(".userFormPhone")
        element.classList.add("hidden")
    }
</script>
