<div class="desktopView">
    <h1>Projects</h1>
            <form class="userForm"action="/user/create" method="POST">
                <input type="text" id="name" name="name" placeholder="Name" required> <br>
                <input type="url" id="avatar" name="avatar" placeholder="Avatar Url" required> <br>
                <input type="submit" value="Add User">
            </form>
    <section class="gallery">
        {{#each projects}}
            <a href="./project/{{this.id}}">
                <div class="galleryItem" style="background-image: url({{this.image}});">
                    <h3>{{this.name}}</h3>
                </div>
            </a>
        {{/each}}
        <div class="galleryItem">
            <h3>Add a project:</h3>
            <form class="addProject" action="/project/create" method="POST">
                <input type="text" id="name" name="name" placeholder="Project Name" required> <br>
                <input type="url" id="image" name="image" placeholder="Image Url" required> <br>
                <input type="submit" value="Add Project">
            </form>
        </div>
    </section>
</div>

<div class= "phoneView hidden">
    <h1>Projects</h1>
    <a href="javascript:;" onClick="showUserForm()">Add User</a>
        <form class="userForm" action="/users" method="POST">
            <input type="text" id="name" name="name" placeholder="Name" required> <br>
            <input type="url" id="avatar" name="avatar" placeholder="Avatar Url" required> <br>
            <input type="submit" value="Add User">
        </form>
    <section class="gallery">
        {{#each Projects}}
            <a href="./{{this.id}}">
                <div class="galleryItem" style="background-image: url({{this.image}});">
                    <h3>{{this.name}}</h3>
                </div>
            </a>
        {{/each}}
        <div class="galleryItem">
            <h3>Add a project:</h3>
            <form class="addProject" action="/project/create" method="POST">
                <input type="text" id="name" name="name" placeholder="Project Name" required> <br>
                <input type="url" id="image" name="image" placeholder="Image Url" required> <br>
                <input type="submit" value="Add Project">
            </form>
        </div>
    </section>
</div>