<div class="homeView">
        <a href="/">Back to projects</a>
        <h1>{{project.name}}</h1>
    <form class="taskForm"action="/task/project/{{project.id}}/create" method="POST">
        <input type="text" id="description" name="description" placeholder="Task Description" required> <br>
        <input type="submit" value="Add Task">
    </form>
    <div class="toDoTasks">
        <h3>To-Do</h3>
        {{#each todo}}
            <div class="task">
                <select name="assignedUser" id="user">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="{{./projectId}}/{{this.id}}/users" method="POST">Assign User</a>
                <a href="/task/{{this.id}}/update" method="POST">Edit Task</a>
                <a href="/task/{{this.id}}/destroy" method="POST">Delete Task</a>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
    </div>
    <div class="doingTasks">
        <h3>Doing</h3>
        {{#each doing}}
            <div class="task">
                <select name="assignedUser" id="user">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="/task/{{this.id}}/update" method="POST">Edit Task</a>
                <a href="/task/{{this.id}}/destroy" method="POST">Delete Task</a>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
    </div>
    <div class="doneTasks">
        <h3>Done</h3>
        {{#each done}}
            <div class="task">
                <select name="assignedUser" id="user">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="/task/{{this.id}}/update" method="POST">Edit Task</a>
                <a href="/task/{{this.id}}/destroy" method="POST">Delete Task</a>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
    </div>
</div>
<div class="phoneView hidden">
    <a href="/">Back to projects</a>
    <h1>{{project.name}}</h1>
    <form class="taskForm"action="/task/project/{{project.id}}/create" method="POST">
        <input type="text" id="description" name="description" placeholder="Task Description" required> <br>
        <input type="submit" value="Add Task">
    </form>
    <select name="tasks" id="tasks">
        <option value="to-do">To-Do</option>
        <option value="doing">Doing</option>
        <option value="done">Done</option>
    </select>
    <div class="toDoTasks">
        <h3>To-Do</h3>
        {{#each todo}}
            <div class="task">
                <select name="assignedUser" id="user">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="/task/{{this.id}}/update" method="POST">Edit Task</a>
                <a href="/task/{{this.id}}/destroy" method="POST">Delete Task</a>
                {{this.description}}
                {{this.UserId}}
            </div>
        {{/each}}    
    </div>
    <div class="doingTasks">
        <h3>Doing</h3>
        {{#each doing}}
            <div class="task">
                <select name="assignedUser" id="user">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="/task/{{this.id}}/update" method="POST">Edit Task</a>
                <a href="/task/{{this.id}}/destroy" method="POST">Delete Task</a>
                {{this.description}}
                {{this.UserId}}
            </div>
        {{/each}}    
    </div>
    <div class="toDoTasks">
        <h3>Done</h3>
        {{#each done}}
            <div class="task">
                <select name="assignedUser" id="user">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <a href="/task/{{this.id}}/update" method="POST">Edit Task</a>
                <a href="/task/{{this.id}}/destroy" method="POST">Delete Task</a>
                {{this.description}}
                {{this.UserId}}
            </div>
        {{/each}}  
    </div>
</div>